{% for items in include.items %}

	{% if item.category == "blogpost" %}
	<article class="article-element">
			<a class="article-link" href="{{ item.url | absolute_url }}">
				<div class="article-date">{{ item.date | date: "%b %Y" }}</div>
				<div class="article-title"><h1>{{ item.title }}</h1></div>
				<div class="article-excerpt">{{ item.excerpt | truncate: 160 }}</div>
			</a>
	</article>

	{% else %}

	<article class="project-element">
		<a class="project-link" href="{{ item.url | absolute_url }}">
			<img class="project-image" src="{{ site.imagesurl | append: item.cover_image | absolute_url }}" alt="{{ item.title }}" />
			<div class="project-infos">
				<div class="article-date">{{ item.date | date: "%b %Y" }}</div>
				<div class="project-title"><h1>{{ item.title }}</h1></div>
				<div class="project-excerpt">{{ item.excerpt | truncate: 160 }}</div>
			</div>
		</a>
	</article>

	{% endif %}

{% endfor %}