.blog-article-element {
  margin: 40px auto;
}

.feature-element {
  margin: 40px auto;
  border: solid 1px $accent-color;
  border-radius: 12px;
  padding: 12px;
}

.blog-article-link {
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
}

.blog-article-link:hover {
  .blog-article-title {
    color: $accent-color;
  }
}

.blog-article-date {
  font-size: 0.75em !important;
  color: $grey-dark !important;
}

.blog-article-link {
  display: block;
  color: $text-color !important;
  text-decoration: none !important;
}


.blog-article-title {
  margin: 0 auto 4px auto;
  font-weight: $font-weight-bold;
}

.blog-article-excerpt {
  p {
    margin: 0px !important;
  }
}
