
#cookie-notice-container {
  width: 94%;
  background-color: $grey-extra-light;
  border-top: 1px $accent-color-light solid;
  font-size: 0.8em;
  line-height: 1.4em;
  bottom: 0;
  left:0;
  position: fixed;
  padding: 10px 3% 20px 3%;
  display: none;
}

.cookie-notice {
  margin: auto !important;
  max-width: $content;
}

.cookie-message {
  color: #444;
  margin-bottom: 10px;
  text-align: center;
}

.cookie-buttons-container {
  margin: auto !important;
  width: 190px;
}

.cookie-button {
  margin: 0px 5px !important;
  display: inline-block;
  font-size: 14px;
  line-height: 2.2em;
  width: 80px;
  font-weight: 600;
  text-align: center;
  background-color: #fff;
  color: $accent-color;
  border: 1px solid $accent-color;
  border-radius: 16px;
  cursor: pointer;
}

.cookie-button:hover {
  background-color: red;
  background-color: $accent-color;
  color: #fff;
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
}
