@media only screen and (max-width: $tablet) {

  .home-project-element:hover {
    .home-project-image {
      transform: none;
    }
  }

  .home-project-link {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .home-project-link:hover {
    .home-project-title {
      color: $text-color;
    }
    .home-project-image {
      border: none;
    }
  }

  .home-project-image {
    width: 100%;
    height: 300px;
    margin: 0 auto 0.5em auto;
    border: none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
  }

  .home-project-infos {
    padding: 0px 1px;
    margin-left: 0px;
  }

  .cookie-message {
    text-align: left;
  }

  .main {
    min-height: 500px;
  }

  .blog-article-link:hover {
    transform: none;
    .blog-article-title {
      color: $text-color;
    }
  }

}
