// features




// articles

.article-element {
  margin: 40px auto;
}

.feature-element {
  margin: 40px auto;
  border: solid 1px $accent-color;
  border-radius: 12px;
  padding: 12px;
}

.article-link {
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
}

.article-link:hover {
  .article-title {
    color: $accent-color;
  }
}

.article-date {
  font-size: 0.7em !important;
  color: $grey-dark !important;
  text-transform: uppercase;
}

.article-link {
  display: block;
  color: $text-color !important;
  text-decoration: none !important;
}


.article-title {
  margin: 0 auto 4px auto;
  font-weight: $font-weight-bold;
}

.article-excerpt {
  p {
    margin: 0px !important;
  }
}


// projects 

.project-link {
  display: block;
  color: $text-color !important;
  text-decoration: none !important;
  display: flex;
  flex-direction: row;
}

.project-link:hover {
  .project-title {
    color: $accent-color;
  }
  .project-image {
      border: 1px solid $accent-color-extra-light;
  }
}

.project-element {
  margin: 50px auto;
}

.project-image {
  display: block;
  min-width: 256px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid $grey-extra-light;
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
}

.project-element:hover {
  .project-image {
    transform: scale(0.97);
  }
}

.project-infos {
  padding: 4px 0;
  margin-left: 30px;
}

.project-title {
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  font-weight: $font-weight-bold;
}

.project-excerpt {
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  font-size: 0.96em;
  line-height: 1.5em;
}
