.single-blogpost {
  img {
    margin: 1.6em auto;
    display: block;
    width: 100%;
    border: 0.5px solid $grey-light;
  }
}

.title-and-share-container {
  margin: 0px auto 30px auto;
  display: flex;
}

.single-blogpost-date {
  font-size: 0.85em !important;
  color: $grey-dark !important;
}

.single-blogpost-title {
  font-weight: $font-weight-bold;
  margin: auto auto auto 0;
  text-align: left;
}
